@typeparam TItem
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@inject ReorderService<TItem> rs
@inject NavigationManager nav
@implements IDisposable

@if (Debug)
{
    <p>@log</p>
    <p>@log2</p>
}

@if(rs.isDragging && elemPosition.x != -1000)
{
    <div class="dragging item" 
         style="width: @(elemWidth)px; left: @(elemPosition.x)px; top: @(elemPosition.y)px; transform: translateX(@(ghostTrans.x)px) translateY(@(ghostTrans.y)px )">
    @ChildContent(rs.selected)
    </div>
}

@if (itemElem != null)
{
    <div class="sortable" @ref="sortable">
        @foreach (var item in Items.Select((v, i) => (v, i)))
        {
            <div @ref="itemElem[item.i]" class="item @((object)item.v == (object)rs.selected ? "active" : "")"
            @onmousedown="async (e) => await onPress(e, item.v, item.i)">
                @ChildContent(item.v)
            </div>
        }
    </div>
}

@code 
{
    [Parameter, EditorRequired] public RenderFragment<TItem> ChildContent { get; set; } = null!;
    [Parameter, EditorRequired] public List<TItem> Items { get; set; } = null!;
    [Parameter] public Func<TItem, TItem> Copy { get; set; }
    [Parameter] public bool WithShadow { get; set; } = true;
    [Parameter] public bool Debug { get; set; } = false;

    private bool shouldRender = true; // cancel re-rendering
    private DotNetObjectReference<Reorder<TItem>>? dotNetHelper; //js-interop 2-ways
    Dictionary<int, ElementReference> itemElem = new();
    ElementReference? sortable;
    point elemPosition = new point(-1000, 0);
    point ghostTrans = new point(0, 0);
    point clickPosition = new point(0, 0);
    int elemWidth = 0;
    int newElemIndex = -1;

    string log = "", log2 = "";

    protected override void OnInitialized()
    {
        nav.LocationChanged += HandleLocationChanged;
    }

    public void Dispose()
    {
        nav.LocationChanged -= HandleLocationChanged;
    }

    public void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (dotNetHelper == null) return;
        base.InvokeAsync(async () =>
        {
            await rs.removeEvents(dotNetHelper);
            StateHasChanged();
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetHelper = DotNetObjectReference.Create(this);
            await rs.initEvents(dotNetHelper);
        }
    }

    public async Task onPress(MouseEventArgs m, TItem item, int index)
    {
        if (itemElem == null) return;

        shouldRender = false; // Because the method triggers re-render, the click propagation is canceled, if you have a link/or any click event inside it's going to stop working
        var ghostElem = itemElem[index];
        elemWidth = await rs.getWidth(ghostElem);
        elemPosition = await rs.getPosition(ghostElem);
        clickPosition = await rs.getPoint(m);
        TItem? clone = Copy != null ? Copy(item) : default(TItem);
        rs.Set(Items, clone != null ? clone : item, index, clickPosition, clone != null);
    }

    [JSInvokable]
    public void onRelease(MouseEventArgs m)
    {
        elemPosition = new point(-1000, 0);
        if (rs.isDragging && rs.originItems == Items)
        {
            rs.Reset();

            // flip
            if (!WithShadow)
            {
                var item = Items[rs.elemIndex];
                shouldRender = false;
                Items.RemoveAt(rs.elemIndex);
                Items.Insert(newElemIndex, item);
                Log("mouseup");
            }
            shouldRender = true;
        }
        StateHasChanged();
    }

    [JSInvokable]
    public async Task onMove(point pos)
    {
        if (itemElem == null) return;
        if (rs.isDragging)
        {
            shouldRender = false;
            ghostTrans = new point(pos.x - rs.elemClickPosition.x, pos.y - rs.elemClickPosition.y);
            Log($"onMove ({elemPosition.x}, {elemPosition.y})");

            // check if current drag item is over another item and swap places 
            for (var b = 0; b < itemElem.Count; ++b)
            {
                var subItem = itemElem[b];
                if (rs.originItems == Items && b == rs.elemIndex) continue;

                // If is on top of an element or if top top of a empty list -> confirm drag
                if (await isOnTop(subItem, pos) ||
                Items.Count == 0 && await isOnTop((ElementReference) sortable, pos))
                {
                    // reorder
                    newElemIndex = b;
                    if (WithShadow)
                    {
                        if (!rs.isCopy())
                            rs.originItems.RemoveAt(rs.elemIndex);
                        Items.Insert(newElemIndex, rs.selected);
                        rs.elemIndex = newElemIndex;
                        if (rs.originItems != Items) rs.originItems = Items;
                        break;
                    }
                }
            }

            shouldRender = true;
            StateHasChanged();
        }
    }

    protected override bool ShouldRender()
    {
        return shouldRender;
    }

    // checks if mouse x/y is on top of an item 
    async Task<bool> isOnTop(ElementReference item, point pos)
    {
        var box = await rs.getClientRect(item);
        if (box.width < 0) return false;
        Log($"\npos x: {pos.x}, y: {pos.y}\n item: left:{box.left}, width:{box.width}\nitem: top:{box.top}, height:{box.height}", true);
        var isx = (pos.x > box.left && pos.x < (box.left + box.width));
        var isy = (pos.y > box.top && pos.y < (box.top + box.height));
        var res = isx && isy;

        return res;
    }

    void Log(string info, bool sublog = false)
    {
        if (Debug)
        {
            if (sublog) log2 = info;
            else log = info;
        }
    }
}
